html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: scrollbar;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 1.4;
  height: 100%;
}
a {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
a:hover, 
a:focus {
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
body,
a:hover, 
a:focus,
.contact .list-group-item a {
  color: #282828;
}
a,
header .card-text span,
.card-link:hover,
.card-link:focus,
.blockquote-footer::before,
.about .card-body h5,
.skills .circles-text-wrp span,
.list-group-item a:hover,
.list-group-item a:focus,
.contact span,
.card-link:hover [class*="flaticon-"]:before,
.card-link:hover [class*="flaticon-"]:after  {
  color: #0f7da0;
}
.divider,
.card-link,
.skills-img:before,
.serv-img:before {
  background-color: #0f7da0;
}
body,
header:before,
.card-link:hover,
.card-link:focus,
.features .card-body {
  background-color: #ffffff;
}
.skills h5 {
  font-size: 1rem;
  margin-top: 0.75rem;
}
.blockquote-footer,
.features h5.card-title {
  font-size: 1.1rem;
}
.blockquote-footer::before,
section h6.card-subtitle {
  font-size: 1.2rem;
}
header .card-text,
.contact span {
  font-size: 1.25rem;
}
header .card-text span,
.circles-text-wrp span {
  font-size: 1.5rem;
}
section h3.card-title {
  font-size: 1.75rem;
}
header .card-text,
.card-link,
.blockquote-footer,
.circles-text-wrp span,
.list-group-item a  {
  font-weight: 500;
}
header .card-text span,
.about .card-body h5,
.skills h5,
.contact span {
  font-weight: 700;
}
.blockquote-footer::before {
  font-weight: 900;
}
body,
header,
.serv-img,
.about-img,
.skills-img  {
  position: relative;
}
header:before,
.serv-img:before,
.img-shadow,
.skills-img:before {
  position: absolute;
}
header,
.serv-img:before,
.img-shadow {
  width: 100%;
}
header,
header:before,
.img-shadow,
.skills-img:before {
  height: 100%;
}
.divider {
  height: 0.3rem;
  width: 3.5rem; 
  margin-bottom: 1rem;
}
.card {
  z-index: 1;
}
.card-link {
  border: 1px solid #0f7da0;
  color: #ffffff;
  padding: 0.5rem 1.25rem;
  margin-top: 1.5rem;
    display: inline-block;
}
.card,
.card-header,
.card-body,
.list-group-item {
  border: 0;
  background: transparent;
}
.card-deck .card,
.card-img {
  -webkit-box-shadow: 0 0.15rem 0.15rem 0 rgba(0,0,0,.15), 
          0 0.2rem 0.1rem -0.15rem rgba(0,0,0,.2), 
          0 0.1rem 0.5rem 0 rgba(0,0,0,.15);
          box-shadow: 0 0.15rem 0.15rem 0 rgba(0,0,0,.15), 
          0 0.2rem 0.1rem -0.15rem rgba(0,0,0,.2), 
          0 0.1rem 0.5rem 0 rgba(0,0,0,.15);      
}
.list-group-item {
  padding: 0.5rem 1rem;
}
[class^="flaticon-"]:before, 
[class*=" flaticon-"]:before, 
[class^="flaticon-"]:after, 
[class*=" flaticon-"]:after {
  margin-left: 0;
  color: #ffffff;
  padding: 1rem 0.5rem  1rem 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* menu */
.navbar {
  background-color: transparent;
  z-index: 10;
  margin-top: 0.25rem;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.sticky-top {
  background-color: rgba(255,255,255,1);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar .flaticon-menu:before {
  color: #0f7da0;
  font-size: 2rem;
  font-weight: 700;
}
.navbar .nav-link {
  color: #ffffff;
  font-weight: 500;
  border-bottom: 0.1rem solid transparent;
}
.sticky-top .nav-link {
  color: #0f7da0;
}
.navbar-nav {
  float: right;
}
.menu .back {
  display: none;
}
/* header */
header {
  background-image: url(..//images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  top: -4rem;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  height: 100%;
}
header:before {
  top: 0;
  left: 0;
  width: 52.5%;
  content: "";
  opacity: 0.75;
}
header .card-title,
header .card-text {
  margin-bottom: 2rem;
}
/* portfolio */
.projects [class^="flaticon-"]:before {
  padding: 0.75rem;
  border-radius: 50%;
  background-color: rgba(15,125,160,0.77);
  font-size: 2rem;
}
.projects .card-link {
  border: 0;
  background-color: transparent;
}
.projects .card-link:hover [class^="flaticon-"]:before {
  color: #ffffff;
}

/* services*/
.serv-img {
  padding-left: 20%;
  padding-right: 10%;
}
.serv-img:before {
  content: "";
    height: 50%;
    z-index: -1;
    left: 0;
    top: 40%;
}

/* features */
.features .card {
  padding: 1rem;
}
.features .card-body {
  padding: 0;
  margin-top: 1rem;
}
.features [class^="flaticon-"]:before, 
.features [class*=" flaticon-"]:before, 
.features [class^="flaticon-"]:after, 
.features [class*=" flaticon-"]:after {
  margin-left: 0;
  font-size: 4rem;
  color: #0f7da0;
  padding: 1rem 1rem 1rem 1rem;
}
/* about */
.about .card-text,
.features .card-text {
  margin-bottom: 0.5rem;
  text-align: justify;
}
.about-img {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.img-shadow {
  background-image: url(..//images/cmc.jpg);
    -webkit-transform: scale(.925);
        -ms-transform: scale(.925);
            transform: scale(.925);
    top: 1rem;
    -webkit-filter: blur(0.5rem);
            filter: blur(0.5rem);
    background-size: cover;
    z-index: -1;
    opacity: 1;
}
.about-img img {
  border-radius: 0.5rem;
}
.about .card-body h5 {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

/* skills */
.skill-item {
    padding: 0 0.75rem;
    margin-bottom: 2rem;
    position: relative;
}
.skill-item h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}
.skills .canvas {
  padding-top: 5%;
}
.skills-img {
  padding-top: 7.5%;
  padding-bottom: 12.5%;
}
.skills-img:before {
    width: 40%;
    content: "";
    top: 0;
    left: 20%;
    z-index: -1;
}
.skills .canvas .circles-number,
.skills .canvas .circles-text {
  opacity: 0;
}
/* contact */
.contact {
  background-image: url(..//images/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
}
.contact .card {
  margin: 7.5rem 1.5rem 5rem;
  float: left;
  background-color: #ffffff;
}
.contact .card-header {
  margin: 0 1rem;
  margin-top: -1.5rem;
  color: #fafaf5;
  -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(0,0,0,.25), 0 0.5rem 1rem -0.25rem rgba(15,125,150,.5);
          box-shadow: 0 0.25rem 1rem 0 rgba(0,0,0,.25), 0 0.5rem 1rem -0.25rem rgba(15,125,150,.5);
  background: #0f7da0;
}
.contact .card-header .card-title {
  margin: 0.25rem auto;
}
.contact .card-body .list-group-item {
  border: initial;
}
.contact [class^="flaticon-"]:before, 
.contact [class*=" flaticon-"]:before, 
.contact [class^="flaticon-"]:after, 
.contact [class*=" flaticon-"]:after {
  color: #0f7da0;
}
.toTop {
  display: none;
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
}
.toTop .flaticon-upload:before {
  color: #0f7da0;
  font-size: 2rem
}

/* btn hover animation */

/* Shutter Out Horizontal */
.shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
     transition-duration: 0.5s;
}
.shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
      transform: scaleX(0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
      transform-origin: 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
     transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
}
.shutter-out-horizontal:hover, 
.shutter-out-horizontal:focus, 
.shutter-out-horizontal:active {
  color: #0f7da0;
}
.shutter-out-horizontal:hover:before, 
.shutter-out-horizontal:focus:before, 
.shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
      transform: scaleX(1);
}

/* Underline From Center */
.underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  padding-bottom: 0.25rem;
}
.underline-from-center:before,
.nav-item .nav-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #0f7da0;
  height: 0.1rem;
  -webkit-transition-property: left, right;
  -o-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
     transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
}
.underline-from-center:hover:before, 
.underline-from-center:focus:before, 
.underline-from-center:active:before,
.nav-item .nav-link.active:before {
  left: 0;
  right: 0;
}

/* project image hover */
[class^='img-hover-'], 
[class*=' img-hover-'] {
    position: relative;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    background-color: transparent;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
[class^='img-hover-'] figcaption, 
[class*=' img-hover-'] figcaption {
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
[class^='img-hover-'], 
[class*=' img-hover-'], 
[class^='img-hover-']:before,
[class^='img-hover-']:after, 
[class*=' img-hover-']:before, 
[class*=' img-hover-']:after,
[class^='img-hover-'] *, 
[class*=' img-hover-'] *, 
[class^='img-hover-'] *:before,
[class^='img-hover-'] *:after, 
[class*=' img-hover-'] *:before, 
[class*=' img-hover-'] *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all .75s ease-in-out;
    -o-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out;
}
[class^='img-hover-fade'] figcaption, 
[class*=' img-hover-fade'] figcaption {
    opacity: 0;
}
[class^='img-hover-fade']:hover > img, 
[class*=' img-hover-fade']:hover > img {
    opacity: 0.25;
}
[class^='img-hover-fade']:hover figcaption, 
[class*=' img-hover-fade']:hover figcaption {
    opacity: 1;
}
[class^='img-hover-fade']:hover > img, 
[class^='img-hover-fade']:hover figcaption, 
[class*=' img-hover-fade']:hover > img, 
[class*=' img-hover-fade']:hover figcaption {
    -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
        transform: translate(0, 0);
}

/* project details (modal) */
.modal.show {
  padding-right: 0 !important;
}
.modal-dialog.modal-lg {
  max-width: 50rem !important;
}
.modal-header {
  display: block;
}
.modal-title,
.modal-footer p,
.modal-footer li.blockquote-footer {
  font-size: 0.85rem;
}
.modal-header .close {
  font-size: 1.5rem;
  opacity: 0.77;
  color: #0f7da0;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}
.carousel-control-prev {
  left: -5rem;
  opacity: 0.77;
  color: #0f7da0;
}
.carousel-control-next {
  right: -5rem;
  opacity: 0.77;
  color: #0f7da0;
}
.carousel-control-prev svg,
.carousel-control-next svg {
  width: 1.5rem !important;
  height: 1.5rem;
  color: #0f7da0;
}
.carousel-control-next:focus, 
.carousel-control-next:hover, 
.carousel-control-prev:focus, 
.carousel-control-prev:hover {
  color: #0f7da0;
  opacity: 1;
}
.modal-footer {
  padding-right: 2rem;
  padding-left: 2rem;
}